# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Flask
instance/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
# User/test uploaded room images
static/uploads/rooms/*
database/
